@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Student/Delete" method="post">
    <input type="number" name="Id" />
    <input type="submit" value="Delete student"
    </form>